<nav class="navBar">
    <a href="{{ path("app_default") }}">Home</a>
    <a href="{{ path("app_meme_index") }}">Memes</a>
    <a href="#">Tags</a>
    <a href="{{ path("app_add_meme") }}">add Meme</a>
</nav>